<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" crossorigin="anonymous">
    <title>App</title>
  </head>
  <body>
    <div class='container'>
        <div class='jumbotron'>Serving app</div>
    </div>
    <script src="/js/jquery.min.js" crossorigin="anonymous"></script>
    <script src="/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>